@model Festiv.Models.MissedConnection

@{
    var partyId = ViewContext.RouteData.Values["partyId"];
}
<form asp-controller="MissedConnection" asp-action="CreatePost" asp-route-partyid=@partyId method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="PersonDescription"></label>
        <textarea asp-for="PersonDescription"></textarea>
        <span asp-validation-for="PersonDescription"></span>
    </div>
    <div>
        <label asp-for="ContactInfo"></label>
        <input asp-for="ContactInfo" />
        <span asp-validation-for="ContactInfo"></span>
    </div>
    <button type="submit">Submit</button>
</form>
